:root{
  --color-blue: #002;
  --color-light: #f4f4f4;
}

.container{
    width: 100%;
    height: 100vh;
    color: var(--color-light);
}

.bg-blue{
  background-color: var(--color-blue);
}

.bg-image-1{
  
}